<div class="desktop">
<div class="container">
  <div class="row">
    <section class="col-3">
<h5 class="text-warning ms-3">Sort</h5>
<select class="form-select mb-4" (change)="onSortSelected($event)">
  <option *ngFor="let sort of sortOptions" [value]="sort.value">
    {{sort.name}}
  </option>
</select>

      <h5 class="text-warning ms-3">Brands</h5>
    <ul class="list-group my-3">
      <li class="list-group-item"
      *ngFor="let brand of brands"
      [class.active]="brand.id === shopParams.brandId"
      [value]="brand.id"
      (click)="onBrandSelected(brand.id)"
      >{{brand.name}}</li>
</ul>
<h5 class="text-warning ms-3">Categories</h5>
    <ul class="list-group my-3">
      <li class="list-group-item"
      *ngFor="let type of types"
      [class.active]="type.id === shopParams.typeId"
      [value]="type.id"
      (click)="onTypeSelected(type.id)"
      >{{type.name}}</li>
</ul>
    </section>
    <section class="col-9">
      <div class="d-flex justify-content-between align-items-center pb-2">
        <header *ngIf="totalCount >= shopParams.pageSize">
          <span>Showing <strong>
            {{(shopParams.pageNumber -1) * shopParams.pageSize +1}} -
            {{shopParams.pageSize * shopParams.pageNumber}}
          </strong> of <strong>{{totalCount}}</strong> Results</span>
        </header>
        <header *ngIf="!(totalCount >= shopParams.pageSize) && totalCount != 0">
          <span>Showing <strong>
            {{totalCount}}
          </strong> of <strong>{{totalCount}}</strong> Results</span>
        </header>
        <header *ngIf="totalCount === 0">
          <span><strong>No products found</strong></span>
        </header>
        <div class="d-flex mt-2">
          <input class="form-control" type="text" placeholder="Search">
          <button class="btn btn-outline-primary mx-2">Search</button>
          <button class="btn btn-outline-success">Reset</button>
        </div>
      </div>
      <div class="row row-cols-md-2 row-cols-xl-3 mb-4">
       <div class="col" *ngFor="let product of products">
        <app-product-item [product]="product"></app-product-item>
       </div>
      </div>

      <div class="d-flex justify-content-center" *ngIf="totalCount != 0">
        <pagination
            [boundaryLinks]="true"
            [totalItems]="totalCount"
            [itemsPerPage]="shopParams.pageSize"
            [maxSize]="10"
            (pageChanged)="onPageChanged($event)"
            previousText="&lsaquo;"
            nextText="&rsaquo;" firstText="&laquo;"
            lastText="&raquo;">

</pagination>
      </div>
    </section>
  </div>
</div>
</div>




<!-------------------MOBILE DESIGN------------->

<div class="mobile">
  <div class="container">
    <div class="row">

      <section class="col-12">
  <h5 class="text-warning ms-3">Categories</h5>
    <select class="form-select mb-1"  (change)="mobileOnTypeSelected($event)">
      <option
      *ngFor="let type of types"
      [value]="type.id"
 >
      {{type.name}}
      </option>
    </select>

    <h5 class="text-warning ms-3">Brands</h5>
    <select class="form-select mb-1" (change)="mobileOnBrandSelected($event)">
      <option
      *ngFor="let brand of brands"
      [value]="brand.id"
      >{{brand.name}}</option>
    </select>

    <h5 class="text-warning ms-3">Sort</h5>
    <select class="form-select mb-4" (change)="onSortSelected($event)">
      <option *ngFor="let sort of sortOptions" [value]="sort.value">
        {{sort.name}}
      </option>
    </select>

    <div class="d-flex mt-2">
      <input class="form-control" type="text" placeholder="Search">
    </div>
    <div class="d-flex justify-content-center mt-3">
      <button class="btn btn-outline-primary mx-2">Search</button>
      <button class="btn btn-outline-success">Reset</button>
    </div>

    <div class="d-flex justify-content-between align-items-center pb-2 mt-2">
      <header *ngIf="totalCount >= shopParams.pageSize">
        <span>Showing <strong>
          {{(shopParams.pageNumber -1) * shopParams.pageSize +1}} -
          {{shopParams.pageSize * shopParams.pageNumber}}
        </strong> of <strong>{{totalCount}}</strong> Results</span>
      </header>
      <header *ngIf="!(totalCount >= shopParams.pageSize) && totalCount != 0">
        <span>Showing <strong>
          {{totalCount}}
        </strong> of <strong>{{totalCount}}</strong> Results</span>
      </header>
      <header *ngIf="totalCount === 0">
        <span><strong>No products found</strong></span>
      </header>
    </div>

      </section>

        <section class="display-prducts">

          <div class="col" *ngFor="let product of products">
            <app-mobile-product-item [product]="product"></app-mobile-product-item>
           </div>

        </section>

        <div class="d-flex justify-content-center" *ngIf="totalCount != 0">
          <pagination
              [boundaryLinks]="true"
              [totalItems]="totalCount"
              [itemsPerPage]="shopParams.pageSize"
              [maxSize]="10"
              (pageChanged)="onPageChanged($event)"
              previousText="&lsaquo;"
              nextText="&rsaquo;" firstText="&laquo;"
              lastText="&raquo;">

  </pagination>
        </div>
      </div>
    </div>
  </div>

