.display-products {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-group-item:hover {
  cursor: pointer;
  transform: scale(1.01);
}

.form-select {
  cursor: pointer;
}



@media only screen and (max-width: 768px) {
  .desktop {
    display: none;
  }
}


@media only screen and (min-width: 769px) {
  .mobile {
    display: none;
  }
}
