

.cart-no{
  position: absolute;
  min-width: 25px;
  min-height: 25px;
  border-radius: 50%;
  background: blue;
  color: white;
  text-align: center;
  top: -12px;
  right: 32px;
}

a {
  text-decoration: none;
  color: #343a40;


  &.active {
    color: orange;
  }
}

.logo {
  cursor: pointer;
}

// Breakpoints

@media only screen and (max-width: 768px) {
  img {
    height: 48px;
  }
  .nav-links a {
    font-size: 18px;
  }
}

@media only screen and (max-width: 650px) {
  img {
    height: 40px;
  }
  .nav-links a {
    font-size: 16px;
  }
  .btn {
    font-size: 14px;
  }
}

@media only screen and (max-width: 600px) {
  img {
    display: none;
  }

}

@media only screen and (max-width: 500px) {
  .btns {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .btns a {
    width: 80px;
  }

}

@media only screen and (max-width: 430px) {
  .nav-links {
    display: flex;
    margin-left: -15px;
  }
  .nav-links a {
    font-size: 14px;
  }
  .btn {
    font-size: 13px;
  }
}

@media only screen and (max-width: 360px) {
  .btns a {
    width: 72px;
  }

}

@media only screen and (max-width: 347px) {
  .btns a {
    width: 60px;
    padding: 2px;
  }
  .btn {
    font-size: 12px;
  }

}

@media only screen and (max-width: 333px) {

  .nav-links a {
    font-size: 12px;
  }
}


